[run]
branch = True
source = mne
omit =
    */bin/*
    */setup.py
    */mne/fixes*
    */mne/utils/linalg.py
    */mne/conftest.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @abstractmethod
    @abstractclassmethod
