[run]
branch = True
source = mne
include = */mne/*
omit =
    */mne/externals/*
    */bin/*
    */setup.py
    */mne/fixes*
    */mne/utils/linalg.py
    */mne/conftest.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
