*.pyc
*.pyo
*.sh
*.so
*.fif
*.tar.gz
*.log
*.stc
*~
.#*
*.swp
*.lprof
*.npy
*.zip
*.fif.gz
*.nii.gz
*.tar.*
*.egg*
*.tmproj
*.png
.DS_Store
events.eve
foo-lh.label
foo.lout
bar.lout
foobar.lout
epochs_data.mat
memmap*.dat
tmp-*.w
tmtags
auto_examples
MNE-eegbci-data*
MNE-misc-data*
MNE-sample-data*
MNE-somato-data*
MNE-spm-face*
MNE-testing-data*
MNE-brainstorm-data*
MEGSIM*
build
coverage

dist/
doc/_build/
doc/generated/
doc/auto_examples/
doc/auto_tutorials/
doc/modules/generated/
pip-log.txt
.coverage
tags
doc/coverages
doc/samples
cover

*.orig
