junit-results.xml
*.pyc
*.pyo
*.sh
*.so
*.fif
*.tar.gz
*.log
*.stc
*~
.#*
*.swp
*.lprof
*.npy
*.zip
*.fif.gz
*.nii.gz
*.tar.*
*.egg*
*.tmproj
*.png
*.dat
.DS_Store
events.eve
foo-lh.label
foo.lout
bar.lout
foobar.lout
epochs_data.mat
memmap*.dat
tmp-*.w
tmtags
auto_examples
MNE-eegbci-data*
MNE-misc-data*
MNE-sample-data*
MNE-somato-data*
MNE-spm-face*
MNE-testing-data*
MNE-brainstorm-data*
physionet-sleep-data*
MEGSIM*
build
coverage
htmlcov
.cache/
.pytest_cache/
__pycache__/
prof/
mne/viz/_brain/tests/.ipynb_checkpoints

dist/
doc/_build/
doc/generated/
doc/auto_examples/
doc/auto_tutorials/
doc/modules/generated/
doc/sphinxext/cachedir
tutorials/misc/report.h5
pip-log.txt
.coverage*
tags
doc/coverages
doc/samples
doc/*.dat
doc/fil-result
cover
*.html

*.orig

# PyCharm
.idea/**

# sublime
*-e

# Visual Studio Code
.vscode

# Emacs
*.py#
*.rst#

.venv/
venv/
*.json
