*.pyc
*.pyo
*.so
*.fif
*.tar.gz
*.log
*.stc
*~
.#*
*.swp
*.lprof
*.npy
*.zip
*.tar.*
*.egg*
*.tmproj
events.eve
foo-lh.label
foo.lout
foobar.lout
memmap*.dat
tmp-*.w
tmtags
auto_examples
MNE-sample-data
build

dist/
doc/_build/
doc/build/
doc/auto_examples/
doc/modules/generated/
pip-log.txt
.coverage
tags
doc/coverages
doc/samples
