Alexandre Gramfort <alexandre.gramfort@telecom-paristech.fr> Alexandre Gramfort <alexandre.gramfort@inria.fr>
Alexandre Gramfort <alexandre.gramfort@telecom-paristech.fr> Alexandre Gramfort <alexandre.gramfort@gmail.com>
Alexandre Gramfort <alexandre.gramfort@telecom-paristech.fr> Alexandre Gramfort <alexandre.gramfort@m4x.org>
Alexandre Gramfort <alexandre.gramfort@telecom-paristech.fr> Alexandre Gramfort <gramfort@localhost.(none)>
Martin Luessi <mluessi@nmr.mgh.harvard.edu> mluessi@nmr.mgh.harvard.edu <mluessi@nmr.mgh.harvard.edu>
Martin Luessi <mluessi@nmr.mgh.harvard.edu> martin <martin@think.hsd1.ma.comcast.net>
Martin Luessi <mluessi@nmr.mgh.harvard.edu> martin <martin@think.(none)>
Matti Hamalainen <msh@nmr.mgh.harvard.edu> Matti Hamalainen <msh@parsley.nmr.mgh.harvard.edu>
Matti Hamalainen <msh@nmr.mgh.harvard.edu> mshamalainen <msh@nmr.mgh.harvard.edu>
Christian Brodbeck <christianmbrodbeck@gmail.com> christianmbrodbeck <christianmbrodbeck@gmail.com>
Louis Thibault <louist87@gmail.com> = <louist87@gmail.com>
Louis Thibault <louist87@gmail.com> Louis Thibault <louist@ltpc.(none)>
Eric Larson <larson.eric.d@gmail.com> Eric Larson <larson.eric.d@gmail.com>
Eric Larson <larson.eric.d@gmail.com> Eric89GXL <larson.eric.d@gmail.com>
Eric Larson <larson.eric.d@gmail.com> Eric Larson <larsoner@uw.edu>
Eric Larson <larson.eric.d@gmail.com> Eric89GXL <larsoner@uw.edu>
Denis A. Engemann <denis.engemann@gmail.com> dengemann <denis.engemann@gmail.com>
Denis A. Engemann <denis.engemann@gmail.com> denis <denis.engemann@gmail.com>
Denis A. Engemann <denis.engemann@gmail.com> dengemann <d.engemann@fz-juelich.de>
Denis A. Engemann <denis.engemann@gmail.com> Denis Engemann <dengemann@Deniss-MacBook-Pro.local>
Denis A. Engemann <denis.engemann@gmail.com> Denis A. Engemann <d.engemann@fz-juelich.de>
Denis A. Engemann <denis.engemann@gmail.com> Denis Engemann <dengemann@pool-186-21-zam037.wlan.kfa-juelich.de>
Denis A. Engemann <denis.engemann@gmail.com> Denis A. Engemann <denisaengemann@Denis-A-Engemanns-MacBook-Air.local>
Daniel Strohmeier <daniel.strohmeier@googlemail.com> joewalter <daniel.strohmeier@googlemail.com>
Daniel Strohmeier <daniel.strohmeier@googlemail.com> Daniel Strohmeier <daniel.strohmeier@googlemail.com>
Dan G. Wakeman <dgwakeman@gmail.com>
Teon Brooks <teon.brooks@gmail.com>
Teon Brooks <teon.brooks@gmail.com> Teon <teon@nyu.edu>
Teon Brooks <teon.brooks@gmail.com> Teon Brooks <teon@nyu.edu>
Romain Trachel <romain.trachel@inria.fr>
Roman Goj <roman.goj@gmail.com>
Andrew Dykstra <andrew.r.dykstra@gmail.com>
Yousra BEKHTI <yousra.bekhti@gmail.com> Yoursa BEKHTI <ybekhti@is222485.intra.cea.fr>
Yousra BEKHTI <yousra.bekhti@gmail.com> Yoursa BEKHTI <yousra.bekhti@gmail.com>
Mainak Jas <mainakjas@gmail.com> Mainak <mainakjas@gmail.com>
Alan Leggitt <leggitta3@gmail.com> leggitta <leggitta3@gmail.com>
Praveen Sripad <pravsripad@gmail.com> prav <pravsripad@gmail.com>
Praveen Sripad <pravsripad@gmail.com> prav <prav@prav-dell.(none)>
Martin Billinger <martin.billinger@tugraz.at> kazemakase <kazemakase@users.noreply.github.com>
Martin Billinger <martin.billinger@tugraz.at> Martin Billinger <flkazemakase@gmail.com>
Martin Billinger <martin.billinger@tugraz.at> Martin <martin.billinger@tugraz.at>
Mainak Jas <mainakjas@gmail.com> Mainak Jas <mainak@neuro.hut.fi>
Dan G. Wakeman <dgwakeman@gmail.com> Daniel Wakeman <dwakeman@marcie.nmr.mgh.harvard.edu>
Marmaduke Woodman <mmwoodman@gmail.com> maedoc <maedoc@mm.st>
Brad Buran <bburan@galenea.com> Brad Buran <bburan@alum.mit.edu>
Cathy Nangini <cnangini@gmail.com> CN <cnangini@gmail.com>
Olaf Hauk <olaf.hauk@mrc-cbu.cam.ac.uk> Olaf Hauk <olaf@mac0086.local>
Jean-Remi King <jeanremi.kibng+github@gmail.com> kingjr <jeanremi.kibng+github@gmail.com>
Roan LaPlante <aestrivex@gmail.com> aestrivex <aestrivex@gmail.com>
Mark Wronkiewicz <wronk.mark@gmail.com> wronk <wronk.mark@gmail.com>
