Alexandre Gramfort <alexandre.gramfort@inria.fr> Alexandre Gramfort <alexandre.gramfort@gmail.com>
Alexandre Gramfort <alexandre.gramfort@inria.fr> Alexandre Gramfort <alexandre.gramfort@m4x.org>
Alexandre Gramfort <alexandre.gramfort@inria.fr> Alexandre Gramfort <gramfort@localhost.(none)>
Martin Luessi <mluessi@nmr.mgh.harvard.edu> mluessi@nmr.mgh.harvard.edu <mluessi@nmr.mgh.harvard.edu>
Martin Luessi <mluessi@nmr.mgh.harvard.edu> martin <martin@think.hsd1.ma.comcast.net>
Martin Luessi <mluessi@nmr.mgh.harvard.edu> martin <martin@think.(none)>
Matti Hamalainen <msh@nmr.mgh.harvard.edu> Matti Hamalainen <msh@parsley.nmr.mgh.harvard.edu>
Christian Brodbeck <christianmbrodbeck@gmail.com> christianmbrodbeck <christianmbrodbeck@gmail.com>
Louis Thibault <louist87@gmail.com> = <louist87@gmail.com>
Louis Thibault <louist87@gmail.com> Louis Thibault <louist@ltpc.(none)>
Eric Larson <larson.eric.d@gmail.com> Eric Larson <larson.eric.d@gmail.com>
Eric Larson <larson.eric.d@gmail.com> Eric89GXL <larson.eric.d@gmail.com>
Denis A. Engemann <denis.engemann@gmail.com> dengemann <denis.engemann@gmail.com>
Denis A. Engemann <denis.engemann@gmail.com> denis <denis.engemann@gmail.com>
Daniel Strohmeier <daniel.strohmeier@googlemail.com> joewalter <daniel.strohmeier@googlemail.com>
Dan G. Wakeman <dgwakeman@gmail.com>
Teon Brooks <teon.brooks@gmail.com>
Romain Trachel <romain.trachel@inria.fr>
Roman Goj <roman.goj@gmail.com>
Andrew Dykstra <andrew.r.dykstra@gmail.com>
Yousra BEKHTI <yousra.bekhti@gmail.com> Yoursa BEKHTI <ybekhti@is222485.intra.cea.fr>
Yousra BEKHTI <yousra.bekhti@gmail.com> Yoursa BEKHTI <yousra.bekhti@gmail.com>
Mainak Jas <mainakjas@gmail.com> Mainak <mainakjas@gmail.com>
