repos:
  # Ruff mne
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.7
    hooks:
      - id: ruff
        name: ruff lint mne
        args: ["--fix"]
        files: ^mne/
      - id: ruff
        name: ruff lint mne preview
        args: ["--fix", "--preview", "--select=NPY201"]
        files: ^mne/
      - id: ruff
        name: ruff lint doc, tutorials, and examples
        # D103: missing docstring in public function
        # D400: docstring first line must end with period
        args: ["--ignore=D103,D400", "--fix"]
        files: ^doc/|^tutorials/|^examples/
      - id: ruff-format
        files: ^mne/|^doc/|^tutorials/|^examples/

  # Codespell
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        files: ^mne/|^doc/|^examples/|^tutorials/
        types_or: [python, bib, rst, inc]

  # yamllint
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--strict, -c, .yamllint.yml]

  # rstcheck
  - repo: https://github.com/rstcheck/rstcheck.git
    rev: v6.2.0
    hooks:
      - id: rstcheck
        additional_dependencies:
          - tomli
        files: ^doc/.*\.(rst|inc)$

# The following are too slow to run on local commits, so let's only run on CIs:
#
#   mypy
#   - repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.9.0
#     hooks:
#       - id: mypy
#
#   vulture (too slow, run on CIs only)
#   - repo: https://github.com/jendrikseipp/vulture
#     rev: 'v2.11'  # or any later Vulture version
#     hooks:
#       - id: vulture
