language: python
env:
    - COVERAGE=--with-coverage MNE_FORCE_SERIAL=1 MNE_SKIP_SAMPLE_DATASET_TESTS=1
python:
    - "2.7"
    - "3.3"
virtualenv:
    system_site_packages: true
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq python-scipy python-nose
    - sudo apt-get install python-pip
    - sudo apt-get install python-nibabel python-nitime python-pandas
    - sudo pip install scikit-learn
install:
    - if [ "${COVERAGE}" == "--with-coverage" ]; then sudo pip install coverage; fi
    - if [ "${COVERAGE}" == "--with-coverage" ]; then sudo pip install coveralls; fi
    - python setup.py build
    - python setup.py install
    - myscripts='browse_raw bti2fiff surf2bem'
    - for script in $myscripts; do mne $script --help >/dev/null; done;
    - SRC_DIR=$(pwd)
    - cd ~
    - MNE_DIR=$(python -c 'import mne;print mne.__path__[0]')
    - ln -s ${SRC_DIR}/mne/fiff/tests/data ${MNE_DIR}/fiff/tests/data
    - ln -s ${SRC_DIR}/mne/fiff/bti/tests/data ${MNE_DIR}/fiff/bti/tests/data
    - ln -s ${SRC_DIR}/mne/fiff/edf/tests/data ${MNE_DIR}/fiff/edf/tests/data
    - ln -s ${SRC_DIR}/mne/fiff/kit/tests/data ${MNE_DIR}/fiff/kit/tests/data
    - ln -s ${SRC_DIR}/mne/fiff/brainvision/tests/data ${MNE_DIR}/fiff/brainvision/tests/data
script:
    - cd ${MNE_DIR}/../
    - TEST="nosetests -v --exe mne"
    - TEST_COVER="nosetests -v --exe --with-coverage --cover-package=mne
      --cover-html --cover-html-dir=coverage mne"
    - if [ "${COVERAGE}" == "--with-coverage" ]; then ${TEST};
      else ${TEST_COVER}; fi
after_success:
    - if [ "${COVERAGE}" == "--with-coverage" ]; then coveralls; fi
