# CI on Windows via appveyor
# This file was based on Olivier Grisel's python-appveyor-demo

environment:

  matrix:
    - PYTHON: "C:\\Python27-conda64"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "64"

install:
  # Install miniconda Python
  - "powershell ./make/install_python.ps1"

  # Prepend newly installed Python to the PATH of this build (this cannot be
  # done from inside the powershell script as it would require to restart
  # the parent CMD process).
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

  # Check that we have the expected version and architecture for Python
  - "python --version"
  - "python -c \"import struct; print(struct.calcsize('P') * 8)\""

  # Install the dependencies of the project (skip nibabel for speed)
  - "conda create -n testenv --yes --quiet setuptools numpy scipy matplotlib scikit-learn nose mayavi pandas h5py PIL patsy pyside"
  - "activate testenv"
  - "pip install nose-timer nibabel nitime"
  - "python setup.py develop"
  - "SET MNE_SKIP_NETWORK_TESTS=1"
  - "SET MNE_FORCE_SERIAL=true"  # otherwise joblib will bomb
  - "SET MNE_LOGGING_LEVEL=warning"
  - "python -c \"import mne; mne.datasets.testing.data_path()\""

build: false  # Not a C# project, build stuff at the test step instead.

test_script:
  # Run the project tests, but (sadly) exclude ones that take a long time
  - "nosetests --verbosity=2 -a !slow_test --with-timer --timer-top-n=20 --timer-ok 5 --timer-warning 15"
