trigger:
  # start a new build for every push
  batch: False
  branches:
    include:
      - 'main'
      - 'maint/*'
pr:
  branches:
    include:
      - '*'  # must quote since "*" is a YAML reserved character; we want a string


stages:

- stage: Check
  jobs:
    - job: Skip
      pool:
        vmImage: 'ubuntu-latest'
      variables:
        DECODE_PERCENTS: 'false'
        RET: 'true'
        BUILD_REASON: $(Build.Reason)
      steps:
      - bash: |
          git_log=`git log --format=oneline -n 1 --skip=1`
          echo "##vso[task.setvariable variable=log]$git_log"
      - bash: echo "##vso[task.setvariable variable=RET]false"
        condition: and(eq(variables.BUILD_REASON, 'PullRequest'), or(contains(variables.log, '[skip azp]'), contains(variables.log, '[azp skip]'), contains(variables.log, '[skip ci]'), contains(variables.log, '[ci skip]')))
      - bash: echo "##vso[task.setvariable variable=start_main;isOutput=true]$RET"
        name: result

- stage: Style
  variables:
    AZURE_CI: 'true'
  jobs:
  - job: All
    pool:
      vmImage: 'ubuntu-latest'
    variables:
      PYTHON_VERSION: '3.9'
      PYTHON_ARCH: 'x64'
    steps:
    - bash: echo $(COMMIT_MSG)
    - task: UsePythonVersion@0
      inputs:
        versionSpec: $(PYTHON_VERSION)
        architecture: $(PYTHON_ARCH)
        addToPath: true
      displayName: 'Get Python'
    - bash: |
        set -e
        python -m pip install --progress-bar off --upgrade pip setuptools wheel
        python -m pip install --progress-bar off -r requirements_base.txt -r requirements_hdf5.txt -r requirements_testing.txt
      displayName: Install dependencies
      condition: always()
    - bash: |
        make pydocstyle
      displayName: make pydocstyle
      condition: always()
    - bash: |
        make docstring
      displayName: make docstring
    - bash: |
        make nesting
      displayName: make nesting
      condition: always()
    - bash: |
        make check-manifest
      displayName: make check-manifest
      condition: always()
    - bash: |
        make check-readme
      displayName: make check-readme
      condition: always()

- stage: Test
  condition: and(succeeded(), eq(dependencies.Check.outputs['Skip.result.start_main'], 'true'))
  dependsOn: Check
  variables:
    AZURE_CI: 'true'
  jobs:
  - job: Ultraslow_PG
    pool:
      vmImage: 'ubuntu-20.04'
    variables:
      DISPLAY: ':99'
      OPENBLAS_NUM_THREADS: '1'
    steps:
    - bash: |
        sudo apt install libxkbcommon-x11-0 xvfb tcsh libxcb*
      displayName: 'Install Ubuntu dependencies'
    - bash: |
        source tools/get_minimal_commands.sh
      displayName: 'Install minimal commands'
    - bash: |
        echo $PATH
        mne_surf2bem --version
        fsl_rigid_register --version
      displayName: 'Test minimal commands'
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.8'
        architecture: 'x64'
        addToPath: true
      displayName: 'Get Python'
    - bash: |
        /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1400x900x24 -ac +extension GLX +render -noreset;
      displayName: 'Spin up Xvfb'
    - bash: |
        set -e
        python -m pip install --progress-bar off --upgrade pip setuptools wheel codecov
        python -m pip install --progress-bar off mne-qt-browser[opengl]
        python -m pip uninstall -yq mne
        python -m pip install --progress-bar off --upgrade -e .[test]
      displayName: 'Install dependencies with pip'
    - script: mne sys_info -pd
      displayName: Print config
    - bash: source tools/get_testing_version.sh
      displayName: 'Get testing version'
    - task: Cache@2
      inputs:
        key: $(testing_version)
        path: /home/vsts/mne_data
      displayName: 'Cache testing data'
    - script: python -c "import mne; mne.datasets.testing.data_path(verbose=True)"
      displayName: 'Get test data'
    - script: pytest -m "ultraslowtest or pgtest" --tb=short --cov=mne --cov-report=xml --cov-report=html -vv mne
      displayName: 'Run ultraslow and mne-qt-browser tests'
    # PyQt5
    - bash: |
        set -e
        python -m pip uninstall mne-qt-browser
    - bash: mne sys_info -pd | tee /dev/stderr | grep PyQt6
      displayName: Print PyQt5 config
    - script: pytest -m "not ultraslowtest" --tb=short --cov=mne --cov-report=xml --cov-report=html --cov-append -vv mne/viz mne/gui
      displayName: 'Run PyQt5 tests'
    # PyQt6
    - bash: |
        set -e
        python -m pip uninstall pyqt5 pyqt5-sip pyqt5-qt5
        python -m pip install pyqt6
    - bash: mne sys_info -pd | tee /dev/stderr | grep PyQt6
      displayName: Print PyQt6 config
    - script: pytest -m "not ultraslowtest" --tb=short --cov=mne --cov-report=xml --cov-report=html --cov-append -vv mne/viz mne/gui
      displayName: 'Run PyQt6 tests'
    # Pyside2
    - bash: |
        set -e
        python -m pip uninstall pyqt6 pyqt6-sip pyqt6-qt6
        python -m pip install pyside2
    - bash: mne sys_info -pd | tee /dev/stderr | grep PySide2
      displayName: Print PySide2 config
    - script: pytest -m "not ultraslowtest" --tb=short --cov=mne --cov-report=xml --cov-report=html --cov-append -vv mne/viz mne/gui
      displayName: 'Run Pyside2 tests'
    # Can't test
    # Coverage
    - bash: |
        set -e
        python -m pip uninstall PyQt5 mne-qt-browser
        python -m pip install PyQt6
    - script: pytest -m "not ultraslowtest" --tb=short --cov=mne --cov-report=xml --cov-report=html --cov-append -vv mne/viz mne/gui
      displayName: 'Run PyQt6 tests'
    - bash: bash <(curl -s https://codecov.io/bash)
      displayName: 'Codecov'
      condition: succeededOrFailed()
    - task: PublishTestResults@2
      inputs:
        testResultsFiles: '**/junit-*.xml'
        testRunTitle: 'Publish test results for $(Agent.JobName)'
        failTaskOnFailedTests: true
      condition: succeededOrFailed()
    - task: PublishCodeCoverageResults@1
      inputs:
        codeCoverageTool: Cobertura
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
        reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'

  - job: Qt
    pool:
      vmImage: 'ubuntu-20.04'
    variables:
      DISPLAY: ':99'
      OPENBLAS_NUM_THREADS: '1'
    steps:
    - bash: ./tools/setup_xvfb.sh
      displayName: 'Install Ubuntu dependencies'
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.10'
        architecture: 'x64'
        addToPath: true
      displayName: 'Get Python'
    - bash: |
        set -e
        python -m pip install --progress-bar off --upgrade pip setuptools wheel
        python -m pip install --progress-bar off --upgrade --only-binary=\"numpy,scipy,matplotlib\" numpy
        wget -q https://github.com/pyvista/pyvista-wheels/blob/main/vtk-9.1.0.dev0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl?raw=true -O vtk-9.1.0.dev0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
        python -m pip install --pre --only-binary ":all:" vtk-9.1.0.dev0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
        python -c "import vtk"
        python -m pip install --progress-bar off --upgrade -r requirements.txt -r requirements_testing.txt -r requirements_testing_extra.txt codecov
      displayName: 'Install dependencies with pip'
    - script: mne sys_info -pd
      displayName: Print config
    - bash: source tools/get_testing_version.sh
      displayName: 'Get testing version'
    - task: Cache@2
      inputs:
        key: $(testing_version)
        path: /home/vsts/mne_data
      displayName: 'Cache testing data'
    - script: python -c "import mne; mne.datasets.testing.data_path(verbose=True)"
      displayName: 'Get test data'
    # PyQt5
    - bash: mne sys_info -pd | tee /dev/stderr | grep PyQt5
      displayName: Print PyQt5 config
    - script: pytest -m "not ultraslowtest" --tb=short --cov=mne --cov-report=xml --cov-report=html -vv mne/viz mne/gui
      displayName: 'Run PyQt5 tests'
    ## PyQt6
    #- bash: |
    #    set -e
    #    python -m pip uninstall PyQt5 PyQt5-sip PyQt5-Qt5
    #    python -m pip install pyqt6
    #- bash: mne sys_info -pd | tee /dev/stderr | grep PyQt6
    #  displayName: Print PyQt6 config
    #- script: pytest -m "not ultraslowtest" --tb=short --cov=mne --cov-report=xml --cov-report=html --cov-append -vv mne/viz mne/gui
    #  displayName: 'Run PyQt6 tests'
    ## Pyside2
    #- bash: |
    #    set -e
    #    python -m pip uninstall PyQt6 PyQt6-sip PyQt6-Qt6
    #    python -m pip install PySide2
    #- bash: mne sys_info -pd | tee /dev/stderr | grep PySide2
    #  displayName: Print PySide2 config
    #- script: pytest -m "not ultraslowtest" --tb=short --cov=mne --cov-report=xml --cov-report=html --cov-append -vv mne/viz mne/gui
    #  displayName: 'Run Pyside2 tests'
    ## Pyside6
    #- bash: |
    #    set -e
    #    python -m pip uninstall PySide2
    #    python -m pip install PySide6
    #- bash: mne sys_info -pd | tee /dev/stderr | grep PySide6
    #  displayName: Print PySide6 config
    #- script: pytest -m "not ultraslowtest" --tb=short --cov=mne --cov-report=xml --cov-report=html --cov-append -vv mne/viz mne/gui
    #  displayName: 'Run Pyside2 tests'
    # Coverage
    - bash: bash <(curl -s https://codecov.io/bash)
      displayName: 'Codecov'
      condition: succeededOrFailed()
    - task: PublishTestResults@2
      inputs:
        testResultsFiles: '**/junit-*.xml'
        testRunTitle: 'Publish test results for $(Agent.JobName)'
        failTaskOnFailedTests: true
      condition: succeededOrFailed()
    - task: PublishCodeCoverageResults@1
      inputs:
        codeCoverageTool: Cobertura
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
        reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'

  - job: Windows
    pool:
      vmImage: 'windows-latest'
    variables:
      MNE_LOGGING_LEVEL: 'warning'
      MNE_FORCE_SERIAL: 'true'
      OPENBLAS_NUM_THREADS: 1
      OMP_NUM_THREADS: 1
      MKL_NUM_THREADS: 2
      OMP_DYNAMIC: 'false'
      MKL_DYNAMIC: 'false'
      PYTHONUNBUFFERED: 1
      PYTHONIOENCODING: 'utf-8'
      AZURE_CI_WINDOWS: 'true'
      PYTHON_ARCH: 'x64'
    strategy:
      maxParallel: 4
      matrix:
        3.9 conda:
          PLATFORM: 'x86-64'
          TEST_MODE: 'conda'
          PYTHON_VERSION: '3.9'
        3.7 pip:
          TEST_MODE: 'pip'
          PYTHON_VERSION: '3.7'
        3.10 pip pre:
          TEST_MODE: 'pip-pre'
          PYTHON_VERSION: '3.10'
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: $(PYTHON_VERSION)
        architecture: $(PYTHON_ARCH)
        addToPath: true
      condition: in(variables['TEST_MODE'], 'pip', 'pip-pre')
      displayName: 'Get Python'
    # https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/anaconda
    # https://github.com/MicrosoftDocs/pipelines-anaconda
    # https://github.com/ContinuumIO/anaconda-issues/issues/10949
    - script: |
        echo "##vso[task.prependpath]%CONDA%;%CONDA%\condabin;%CONDA%\Scripts;%CONDA%\Library\bin;%PROGRAMFILES%\Git\bin;%SystemRoot%\system32;%SystemRoot%;%SystemRoot%\System32\Wbem;%PROGRAMFILES%\Git\usr\bin"
      condition: in(variables['TEST_MODE'], 'conda')
      displayName: Add conda to PATH, deal with Qt linking bug
    - bash: |
        set -e
        git clone --depth 1 https://github.com/pyvista/gl-ci-helpers.git
        powershell gl-ci-helpers/appveyor/install_opengl.ps1
      displayName: Install OpenGL
    - bash: |
        set -e
        ./tools/azure_dependencies.sh
      condition: in(variables['TEST_MODE'], 'pip', 'pip-pre')
      displayName: Install dependencies with pip
    - script: conda env update --name base --file environment.yml
      condition: eq(variables['TEST_MODE'], 'conda')
      displayName: Setup MNE environment
    - bash: |
        set -e
        conda remove -c conda-forge --force -yq mne
        rm /c/Miniconda/Scripts/mne.exe
      condition: eq(variables['TEST_MODE'], 'conda')
      displayName: Remove old MNE
    - script: pip install -e .
      displayName: 'Install MNE-Python dev'
    - script: pip install --progress-bar off -e .[test] codecov
      condition: eq(variables['TEST_MODE'], 'conda')
      displayName: Install testing requirements
    - script: mne sys_info -pd
      displayName: 'Print config'
    - script: python -c "import numpy; numpy.show_config()"
      displayName: Print NumPy config
    - bash: source tools/get_testing_version.sh
      displayName: 'Get testing version'
    - task: Cache@2
      inputs:
        key: $(testing_version)
        path: C:\Users\VssAdministrator\mne_data
      displayName: 'Cache testing data'
    - script: python -c "import mne; mne.datasets.testing.data_path(verbose=True)"
      displayName: 'Get test data'
    - script: pytest -m "not (slowtest or pgtest)" --tb=short --cov=mne --cov-report=xml --cov-report=html -vv mne
      displayName: 'Run tests'
    - bash: bash <(curl -s https://codecov.io/bash)
      displayName: 'Codecov'
      condition: succeededOrFailed()
    - task: PublishTestResults@2
      inputs:
        testResultsFiles: '**/junit-*.xml'
        testRunTitle: 'Publish test results for $(Agent.JobName) $(TEST_MODE) $(PYTHON_VERSION)'
        failTaskOnFailedTests: true
      condition: succeededOrFailed()
    - task: PublishCodeCoverageResults@1
      inputs:
        codeCoverageTool: Cobertura
        summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
        reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'

  - job: SphinxWindows
    pool:
      vmImage: 'windows-latest'
    variables:
      AZURE_CI_WINDOWS: 'true'
      PYTHON_ARCH: 'x64'
      PLATFORM: 'x86-64'
      PYTHON_VERSION: '3.9'
    steps:
    - bash: |
        set -e
        git clone --depth 1 https://github.com/pyvista/gl-ci-helpers.git
        powershell gl-ci-helpers/appveyor/install_opengl.ps1
      displayName: Install OpenGL
    - script: echo "##vso[task.prependpath]%CONDA%;%CONDA%\condabin;%CONDA%\Scripts;%CONDA%\Library\bin;%CONDA%\Library\bin\graphviz;%PROGRAMFILES%\Git\bin;%SystemRoot%\system32;%SystemRoot%;%SystemRoot%\System32\Wbem;%PROGRAMFILES%\Git\usr\bin"
      displayName: Add conda to PATH, deal with Qt linking bug
    - script: conda update -n base -c defaults conda
      displayName: Update conda
    - script: conda env update --name base --file environment.yml
      displayName: Setup MNE environment
    - script: conda install -c conda-forge graphviz
      displayName: Add graphviz dot
    - bash: |
        set -e
        conda remove -c conda-forge --force -yq mne
        rm /c/Miniconda/Scripts/mne.exe
      displayName: Remove old MNE
    - script: pip install -e .
      displayName: Install dev MNE
    - script: pip install --progress-bar off -r requirements_doc.txt
      displayName: Install documentation dependencies
    - script: mne sys_info -pd
      displayName: Print config and test access to commands
    - script: python -c "import numpy; numpy.show_config()"
      displayName: Print NumPy config
    - bash: make -C doc html_dev-noplot
      displayName: 'Build doc'
