include *.rst
include LICENSE.txt
include SECURITY.md
include requirements.txt
include requirements_testing.txt
include requirements_doc.txt
include mne/__init__.py

recursive-include examples *.py
recursive-include examples *.txt
recursive-include tutorials *.py
recursive-include tutorials *.txt

recursive-include mne *.py
recursive-include mne/data *
recursive-include mne/icons *
recursive-include mne/data/helmets *
recursive-include mne/data/image *
recursive-include mne/data/fsaverage *
include mne/datasets/_fsaverage/root.txt
include mne/datasets/_fsaverage/bem.txt

recursive-include mne/channels/data/layouts *
recursive-include mne/channels/data/montages *
recursive-include mne/channels/data/neighbors *

recursive-include mne/gui/help *.json

recursive-include mne/html *.js
recursive-include mne/html *.css

recursive-include mne/io/artemis123/resources *

recursive-include mne mne/datasets *.csv
include mne/io/edf/gdf_encodes.txt
include mne/datasets/sleep_physionet/SHA1SUMS
include mne/externals/tqdm/_tqdm/tqdm.1
include mne/viz/_brain/tests/test.ipynb

### Exclude

recursive-exclude examples/MNE-sample-data *
recursive-exclude examples/MNE-testing-data *
recursive-exclude examples/MNE-spm-face *
recursive-exclude examples/MNE-somato-data *
recursive-exclude tools *
exclude tools
exclude Makefile
exclude .coveragerc
exclude *.yml
exclude ignore_words.txt
exclude .mailmap
recursive-exclude mne *.pyc

recursive-exclude doc *
recursive-exclude logo *

exclude CODE_OF_CONDUCT.md
exclude .github
exclude .github/CONTRIBUTING.md
exclude .github/ISSUE_TEMPLATE
exclude .github/ISSUE_TEMPLATE/blank.md
exclude .github/ISSUE_TEMPLATE/bug_report.md
exclude .github/ISSUE_TEMPLATE/feature_request.md
exclude .github/PULL_REQUEST_TEMPLATE.md

# Test files

recursive-exclude mne/io/tests/data *
recursive-exclude mne/io/bti/tests/data *
recursive-exclude mne/io/edf/tests/data *
recursive-exclude mne/io/kit/tests/data *
recursive-exclude mne/io/brainvision/tests/data *
recursive-exclude mne/io/egi/tests/data *
recursive-exclude mne/io/nicolet/tests/data *
recursive-exclude mne/preprocessing/tests/data *
