pytest!=4.6.0
pytest-cov
pytest-timeout
pytest-harvest
flake8
flake8-array-spacing
https://github.com/sphinx-gallery/sphinx-gallery/archive/master.zip
https://github.com/numpy/numpydoc/archive/master.zip
https://github.com/codespell-project/codespell/archive/master.zip
pydocstyle
check-manifest
twine
wheel
