sphinx
https://github.com/numpy/numpydoc/archive/main.zip
pydata-sphinx-theme==0.5.0
sphinx-gallery
sphinxcontrib-bibtex>=2.1.2
memory_profiler
neo
seaborn
sphinx_copybutton
https://github.com/mne-tools/mne-bids/archive/main.zip
