# requirements for running tests (on top of environment.yml/requirements.txt)
pytest
pytest-cov
pytest-timeout
pytest-harvest
ruff
numpydoc
codespell
check-manifest
tomli; python_version<'3.11'
twine
wheel
pre-commit
black
