numpy
scipy
matplotlib
mayavi
scikit-learn
nibabel
pandas
python-picard
statsmodels
nose
pytest
pytest-cov
sphinx
joblib
psutil
numpydoc
https://api.github.com/repos/nipy/PySurfer/zipball/master
nitime
nilearn
neo
pytest-sugar
pydocstyle
