.highlight a {
    color: rgb(41, 122, 204);
}
div.highlight {
    background-color: #f8f8f8;
}
.highlight * {
    color: inherit;
    font-weight: inherit;
    font-style: inherit;
    background-color: transparent;
}
