.highlight a {
    color: rgb(41, 122, 204);
}
div.highlight {
    background-color: #fafafa;
}
.highlight * {
    color: #2c3e50;  /* copied from body text default value */
    font-weight: inherit;
    font-style: inherit;
    background-color: transparent;
}
