.highlight a {
    font-weight: bold;
}
div.highlight {
    background-color: #f8f8f8;
}
.highlight * {
    color: black;
    /* font-weight: normal; */
    font-style: normal;
    background-color: transparent;
}
