body {
    font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.navbar-version {
    display: none;
}

a {
    color: #08C;
    text-decoration: none;
}

a:hover {
    color: rgb(102,178,255);
}

h2 a {
    color: rgb(0,0,0);
    text-decoration: none;
}

h1 {
    font-weight: 1000;
}

h2 {
    background-color: rgb(255,255,255);
    font-size: 140%;
    font-weight: 800;
}

h3 {
    font-size: 110%;
    font-weight: 600;
}

blockquote {
    font-size: 100% !important;
}

code {
    color: #49759c !important;
    background-color: #f3f5f9 !important;
}

.devbar {
    background-color: rgb(255, 100, 100);
    color: white;
    font-weight:bold;
    text-align: center;
    padding: 10px;
    min-width: 910px;
}

.devbar a {
    color: rgb(0, 0, 0);
}

#navbar a:hover {
    color: rgb(255,2,16);
}

.note a {
    color: rgb(0,0,255);
}

.note {
    background-color: rgb(210,255,255);
    color: rgb(0, 0, 0);
    border: none;
}

.note pre {
    background-color: rgb(255,255,255);
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

.span.box {
    width: 47%;
    height: 230px;
    float: left;
    border-radius: 20px;
    background: #f3f5f9;
    border-style: solid;
    border-color: #2C3E50;
    margin: 5px;
}

.span h2 {
    background: #f3f5f9;
}
