body {
    font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.navbar-version {
    display: none;
}

a {
    color: rgb(41, 122, 204);
    text-decoration: none;
}

a:hover {
    color: rgb(102, 179, 255);
}

h2 a {
    color: rgb(0,0,0);
    text-decoration: none;
}

h1 {
    font-weight: 1000;
}

h2 {
    background-color: rgb(255,255,255);
    font-size: 140%;
    font-weight: 800;
}

h3 {
    font-size: 110%;
    font-weight: 600;
}

blockquote {
    font-size: 100% !important;
}

code {
    color: rgb(61, 107, 153) !important;
    background-color: rgb(230, 242, 255) !important;
}

.devbar {
    background-color: rgb(242, 80, 80);
    color: white;
    font-weight:bold;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    min-width: 910px;
}

.devbar a {
    color: rgb(255, 238, 0);
    text-decoration: none;
}

.devbar a:hover {
    color: black;
    text-decoration: underline;
}

#navbar a:hover {
    color: rgb(242, 80, 80);
}

#navbar {
    max-width: 1024px;
}

div.row-carousel {
    width: 850px;
}
div.carousel-front {
    float:right;
    width:50%;
}

div.crop-wrapper {
  width: 380px;
  height: 190px;
  overflow: hidden
}

div.logo-front {
    width:50%;
    margin: 0px;
}

img.logo-front {
    margin: 0 10%;
    width:; auto;
}

div.row-front {
    width: 100%;
    height: 70px;
}

a.button-front {
    width: 32%;
    height: 100%;
    margin: 5px;
    float:left;
    background-color: #e7e7e7;
    color: black;
    border: 1px solid;
    padding: 20px 0px;
    font-size: larger;
}

.note a {
    color: rgb(0,0,255);
}

.note {
    background-color: rgb(204, 230, 255);
    color: rgb(0, 0, 0);
    border: none;
}

.note pre {
    background-color: rgb(242, 249, 255);
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

.span.box {
    width: 47%;
    height: 230px;
    float: left;
    border-radius: 20px;
    background: rgb(242, 249, 255);
    border-style: solid;
    border-color: rgb(143, 173, 204);
    margin: 5px;
    padding: 0px 0px 0px 10px;
}

.span h2 {
    background: rgb(242, 249, 255);
}

.span.box code {
    background-color: rgb(204, 230, 255) !important;
}

/* OVERRIDES */
div.sphx-glr-download a {
  background-color: inherit;
  background-image: inherit;
  border-radius: inherit;
  border: 1px solid #000;
  color: inherit;
  display: inherit;
  /* Not valid in old browser, hence we keep the line above to override */
  display: inherit;
  font-weight: inherit;
  padding: 0px;
  text-align: inherit;
}
div.sphx-glr-download a:hover {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  text-decoration: none;
  background-image: none;
  background-color: inherit;
}
.highlight pre {
    background-color: rgb(242, 249, 255) !important;
}
.warning {
    background-color: rgb(230, 57, 57);
    color: white;
}
.warning a {
    color: rgb(255, 238, 0);
}
dt:target, .highlighted {
    background-color: rgb(255, 238, 0);
}
dt:target code {
    color: inherit !important;
    background-color: inherit !important;
}

.label {  /* Necessary for multiple refs, from bootstrap.min.css:7 */
    color: #2c3e50;
}
/* Override bootstrap.min.css to avoid .. container:: padding problems */
.nosize {
    width:  auto;
}
.nopad {
    padding:  0px;
}
.halfpad {
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    padding:  0px;
    margin: 10px;
    float: left;
}
/* Display content (e.g., images) in the middle center of a div */
.midcenter {
    display: table-cell;
    vertical-align:middle;
    text-align: center;
    float: none;
}
.tall {
    height: 250px;
}