html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 150px;
}

.navbar-version {
    display: none;
}

a {
    color: rgb(41, 122, 204);
    text-decoration: none;
}

a:hover {
    color: rgb(102, 179, 255);
}

blockquote {
    font-size: 100% !important;
}

code {
    color: rgb(61, 107, 153) !important;
    background-color: rgb(230, 242, 255) !important;
}

.devbar {
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

#navbar a:hover {
    color: rgb(242, 80, 80);
}

div.crop-wrapper {
  width: 380px;
  height: 190px;
  overflow: hidden
}

a.button-front {
    width: 32%;
    height: 100%;
    margin: 5px;
    float:left;
    background-color: #e7e7e7;
    color: black;
    border: 1px solid;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchor-doc {
    position: relative;
    padding-top: 200px !important;
    display: none !important;

}

.note a {
    color: rgb(0,0,255);
}

.note {
    background-color: rgb(204, 230, 255);
    color: rgb(0, 0, 0);
    border: none;
}

.note pre {
    background-color: rgb(242, 249, 255);
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

.span.box {
    width: 47%;
    height: 230px;
    float: left;
    border-radius: 20px;
    background: rgb(242, 249, 255);
    border-style: solid;
    border-color: rgb(143, 173, 204);
    margin: 5px;
    padding: 0px 0px 0px 10px;
}

.span h2 {
    background: rgb(242, 249, 255);
}

.span.box code {
    background-color: rgb(204, 230, 255) !important;
}

/* OVERRIDES */
div.sphx-glr-download a {
  background-color: inherit;
  background-image: inherit;
  border-radius: inherit;
  border: 1px solid #000;
  color: inherit;
  display: inherit;
  /* Not valid in old browser, hence we keep the line above to override */
  display: inherit;
  font-weight: inherit;
  padding: 0px;
  text-align: inherit;
}
div.sphx-glr-download a:hover {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  text-decoration: none;
  background-image: none;
  background-color: inherit;
}
.highlight pre {
    background-color: rgb(242, 249, 255) !important;
}
.warning {
    background-color: rgb(230, 57, 57);
    color: white;
}
.warning a {
    color: rgb(255, 238, 0);
}
dt:target, .highlighted {
    background-color: rgb(255, 238, 0);
}
dt:target code {
    color: inherit !important;
    background-color: inherit !important;
}

.label {  /* Necessary for multiple refs, from bootstrap.min.css:7 */
    color: #2c3e50;
}
/* Override bootstrap.min.css to avoid .. container:: padding problems */
.nosize {
    width:  auto;
}
.nopad {
    padding:  0px;
}
.halfpad {
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    padding:  0px;
    margin: 10px;
    float: left;
}
/* our carousel */
.chopper {
    overflow: hidden;
    height: 250px;
}
.carousel-image {
    position: absolute;
    width: 100%;
    opacity: 1.0;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.cont{
    width: 100%;
    display: table;
    border-spacing: 20px 5px;
}
.cont:before {
    content: "";
}
.cont:after {
    content: "";
}
.btn-cont {
    display: table-cell;
    width: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer a {
    font-weight: 700;
}
.support-front {
    font-size: 10px;
}
.support-front ul{
    list-style-type: none;
}
.ul-2col ul{
    columns: 2;
}
.carousel-caption {
    text-shadow: 0 1px 1px rgba(0,0,0,1.0);
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.carousel-caption p {
    font-size: 16px;
}
.support-front ul {
    padding-left: 15px;
}
.topmargin {
    margin-top: 10px;
}
.bottommargin {
    margin-bottom: 10px;
}
h4.list-group-item-heading {
    font-size: 15px;
}
.table-like {
    display: table;
}
.cell-like {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.limitedwidth {
    max-width: 1024px;
    float: none;
    margin: auto;
}
.tagline {
    font-size: 20px;
}
/* Fix collapsing */
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.skinnytable {
    width: auto;
}
.skinnytable thead {
    border-bottom: 1px solid black;
}
