:root {

    --pst-font-size-base: 16px;
    --pst-font-size-milli: 13px;
    --pst-font-family-base: 'Source Sans Pro', var(--pst-font-family-base-system);
    --pst-font-family-heading: var(--pst-font-family-base);
    --pst-font-family-monospace: 'Source Code Pro', var(--pst-font-family-monospace-system);

}

/* ************************************************************ Sphinx fixes */
dl.field-list {
    grid-template-columns: auto 1fr;
}

/* ********************************************************** Sphinx-gallery */

/* backreference links: restore hover decoration that SG removes */
a.sphx-glr-backref-instance:hover {
    text-decoration: underline;
}
/* backreference links: make non-MNE func/meth calls resemble regular code */
a[class^="sphx-glr-backref-module"] {
    color: rgb(var(--pst-color-text-base));
}
/* backreference links: make MNE calls bold and colorful */
a[class^="sphx-glr-backref-module-mne"] {
    font-weight: 600;
    color: rgb(var(--pst-color-link));
}
/* suppress redundant note at top of every tutorial and signature at the end */
div.sphx-glr-download-link-note,
p.sphx-glr-signature {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}
/* script/notebook download buttons */
.sphx-glr-download a.download {
    background-image: none;
    background-color: rgba(var(--pst-color-info), 0.1);
    border-color: rgb(var(--pst-color-info));
}
/* Report embedding */
iframe.sg_report {
    width: 95%;
    height: 70vh;
    margin: 20px auto;
    display: block;
    border-style: solid;
}

/* ******************************** make HTML'd pandas dataframes scrollable */
table.dataframe {
    display: block;
    overflow: auto;
}

/* ********************************* Long API titles need to wrap for mobile */
div[id^="mne-"] h1,
div[id^="examples-using-"] h2 {
    word-break: break-word;
}

/* ******************************************* in-text sidebar callout boxes */
div.sidebar,
aside.sidebar {
    margin: 0 0 0.5em 1em;
    padding: 7px;
    width: 40%;
    float: right;
    clear: right;
    overflow-x: auto;
    /* above copied from div.sidebar in basic.css; below are our overrides */
    background-color: rgba(var(--pst-color-info), 0.1);
    border: 1px solid rgb(var(--pst-color-info));
    border-radius: 4px;
}

/* **************************************************************** homepage */
img.logo {
    max-width: 360px;
    width: 100%;
}

/* ************************************* homepage quick links & funders list */
ul.quicklinks {
    font-weight: 600;
}
ul.quicklinks a:hover {
    text-decoration: none;
}
ul.funders li {
    margin-left: 36px;
    text-indent: -36px;
    padding-bottom: 9px;
}
ul.funders li img {
    width: 30px;
    max-height: 24px;
    object-fit: contain;
}

/* these two also affect collapsible divs */
h5.card-header {
    margin-top: 0px;
    margin-bottom: 0px;
}
h5.card-header::before {
    height: 0px;
    margin-top: 0px;
}

/* ************************************************* dev version warning bar */
.devbar {
    /* body top padding minus navbar height; */
    /*might be possible to calc from theme variables */
    margin-top: -20px;
}

/* ******************************************************** version dropdown */
.dropdown {
    padding: 0 .5rem;  /* match other items in the hamburger menu */
}
.dropdown-toggle {
    font-weight: 600;
}

/* ***************************************************** front page carousel */
div.frontpage-gallery {
    overflow: hidden;
    height: 180px;
    justify-content: center;
}
div.frontpage-gallery a {
    text-decoration: none;
    color: rgb(var(--pst-color-text-base));
}
div.frontpage-gallery img.card-img {
    transform: scale(1.8);
    transform-origin: 40% 20%;
    opacity: 0.2;
    transition: 400ms ease-out;
}
div.frontpage-gallery:hover img.card-img {
    transform: scale(1.2);
    opacity: 1.0;
    transition: 400ms ease-out;
}
div.frontpage-gallery .fadeout {
    opacity: 1.0;
    transition: 200ms linear;
}
div.frontpage-gallery:hover .fadeout {
    opacity: 0.0;
    transition: 200ms linear;
}

/* ****************************************************** navbar quick links */

i.fa-github-square:before {
    color: #000;
}
i.fa-twitter-square:before {
    color: #55acee;
}
i.fa-discourse:before {
    color: #231e20;
}
i.fa-discord:before {
    color: #7289da;  /* 99aab5 is also in-brand for discord */
}
/* *********************************************************** contrib guide */
ul.icon-bullets {
    list-style-type: none;
    padding-left: 2em;
    text-indent: -1.5em;
}
.small-stack {
    font-size: 0.5em;
}
/* *********************************************************** miscellaneous */
.hidden {
    display: none;
}
img.hidden {
    visibility: hidden;
}
