{% set section = "Channels" %}
{% set section_class_name = section | lower | append_uuid %}

{# Collapse content during documentation build. #}
{% if collapsed %}
{% set collapsed_row_class = "repr-element-faded repr-element-collapsed" %}
{% else %}
{% set collapsed_row_class = "" %}
{% endif %}

<tr class="no-stripes">
    <th class="repr-section-header repr-section-toggle-col">
        <button {% if collapsed %} class="collapsed" title="Show section" {% else %} title="Hide section" {% endif %}
            onclick="toggleVisibility('{{ section_class_name }}', this)">
            {# This span is for the background SVG icon #}
            <span class="collapse-uncollapse-caret"></span>
        </button>
    </th>
    </th>
    <th class="repr-section-header" colspan="2">
        <strong>{{ section }}</strong>
    </th>
</tr>
<tr class="repr-element {{ section_class_name }} {{ collapsed_row_class }}">
    <td></td>
    <td>Good channels</td>
    <td>{{ info | format_channels("good") }}</td>
</tr>
<tr class="repr-element {{ section_class_name }} {{ collapsed_row_class }}">
    <td></td>
    <td>Bad channels</td>
    <td>{{ info | format_channels("bad") }}</td>
</tr>
<tr class="repr-element {{ section_class_name }} {{ collapsed_row_class }}">
    <td></td>
    <td>EOG channels</td>
    <td>{{ info | format_channels("eog") }}</td>
</tr>
<tr class="repr-element {{ section_class_name }} {{ collapsed_row_class }}">
    <td></td>
    <td>ECG channels</td>
    <td>{{ info | format_channels("ecg") }}</td>
</tr>
<tr class="repr-element {{ section_class_name }} {{ collapsed_row_class }}">
    <td></td>
    <td>Head shape and sensor digitization</td>
    {% if info["dig"] is not none %}
    <td>{{ info["dig"] | length }} points</td>
    {% else %}
    <td>Not available</td>
    {% endif %}
</tr>