{% macro create_general_section(info, filenames=None) %}
{#
This macro is really just needed so we can handle the presence / absence
of "filenames".
#}
{%include '_general.html.jinja' %}
{% endmacro %}

