<table class="table table-hover table-striped table-sm table-responsive small">
    {% if filename %}
    <tr>
        <th>Filename</th>
        <td>{{ filename }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Measurement date</th>
        {% if meas_date is not none %}
        <td>{{ meas_date }}</td>
        {% else %}
        <td>Unknown</td>
        {% endif %}
    </tr>
    <tr>
        <th>Participant</th>
        {% if subject_info is defined and subject_info is not none %}
        {% if 'his_id' in subject_injainfo.keys() %}
        <td>{{ subject_info['his_id'] }}</td>
        {% endif %}
        {% else %}
        <td>Unknown</td>
        {% endif %}
    </tr>
    <tr>
        <th>Total number of events</th>
        <td>{{ epochs.events|length }}</td>
    </tr>
    <tr>
        <th>Events counts</th>
        {% if events is not none %}
        <td>{{ events|join('<br />') | safe }}</td>
        {% else %}
        <td>Not available</td>
        {% endif %}
    </tr>
    <tr>
        <th>Time points</th>
        <td>{{ epochs.times | length | format_number}}</td>
    </tr>
    <tr>
        <th>Time range</th>
        <td>{{ '%.3f'|format(epochs.tmin) }} – {{ '%.3f'|format(epochs.tmax) }} s</td>
    </tr>
    <tr>
        <th>Baseline</th>
        <td>{{ baseline }}</td>
    </tr>
    <tr>
        <th>Head shape and sensor digitization</th>
        {% if epochs.info["dig"] is not none %}
        <td>{{ epochs.info["dig"] | length }} points</td>
        {% else %}
        <td>Not available</td>
        {% endif %}
    </tr>
    <tr>
        <th>Good channels</th>
        <td>{{ good_channels }}</td>
    </tr>
    <tr>
        <th>Bad channels</th>
        <td>{{ bad_channels }}</td>
    </tr>
    <tr>
        <th>EOG channels</th>
        <td>{{ eog }}</td>
    </tr>
    <tr>
        <th>ECG channels</th>
        <td>{{ ecg }}</td>
    </tr>
</table>