<table class="table table-hover table-striped table-sm table-responsive small">
    <tr>
        <th>Condition</th>
        <td>{{evoked.comment}}</td>
    </tr>
    <tr>
        <th>Data kind</th>
        <td>{{evoked.kind}}</td>
    </tr>
    <tr>
        <th>Number of averaged epochs</th>
        <td>{{evoked.nave}}</td>
    </tr>
    <tr>
        <th>Time range (secs)</th>
        <td>{{ '%.3f'|format(evoked.times[0]) }} – {{ '%.3f'|format(evoked.times[-1]) }} s</td>
    </tr>
    <tr>
        <th>Baseline</th>
        <td>{{ baseline }}</td>
    </tr>
</table>
