<table class="table table-hover table-striped table-sm table-responsive small">
    {% if filename %}
    <tr>
        <th>Filename</th>
        <td>{{ filename }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Measurement date</th>
        {% if meas_date is not none %}
        <td>{{ meas_date }}</td>
        {% else %}
        <td>Unknown</td>
        {% endif %}
    </tr>
    <tr>
        <th>Participant</th>
        {% if subject_info is defined and subject_info is not none %}
        {% if 'his_id' in subject_info.keys() %}
        <td>{{ subject_info['his_id'] }}</td>
        {% endif %}
        {% else %}
        <td>Unknown</td>
        {% endif %}
    </tr>
    <tr>
        <th>Condition</th>
        <td>{{evoked.comment}}</td>
    </tr>
    <tr>
        <th>Data</th>
        {% if evoked.kind == "average" %}
        <td>average of {{evoked.nave}} epochs</td>
        {% elif evoked.kind == "standard_error" %}
        <td>standard error of {{evoked.nave}} epochs</td>
        {% else %}
        <td>{{evoked.kind}} ({{evoked.nave}} epochs)</td>
        {% endif %}
    </tr>
    <tr>
        <th>Time points</th>
        <td>{{ evoked.times | length | format_number}}</td>
    </tr>
    <tr>
        <th>Time range</th>
        <td>{{ '%.3f'|format(evoked.times[0]) }} – {{ '%.3f'|format(evoked.times[-1]) }} s</td>
    </tr>
    <tr>
        <th>Baseline</th>
        <td>{{ baseline }}</td>
    </tr>
    <tr>
        <th>Head shape and sensor digitization</th>
        {% if evoked.info["dig"] is not none %}
        <td>{{ evoked.info["dig"] | length }} points</td>
        {% else %}
        <td>Not available</td>
        {% endif %}
    </tr>
    <tr>
        <th>Good channels</th>
        <td>{{ good_channels }}</td>
    </tr>
    <tr>
        <th>Bad channels</th>
        <td>{{ bad_channels }}</td>
    </tr>
    <tr>
        <th>EOG channels</th>
        <td>{{ eog }}</td>
    </tr>
    <tr>
        <th>ECG channels</th>
        <td>{{ ecg }}</td>
    </tr>
</table>