{%include '_js_and_css.html.jinja' %}

<table class="table mne-repr-table">
    {%include 'static/_section_header_row.html.jinja' %}
    {% for channel_type, channels in (info | format_channels).items() %}
        {% include 'static/_channels.html.jinja' %}
    {% endfor %}

    <tr>
        <th>Source space</th>
        <td>{{ source_space_descr }}</td>
    </tr>
    <tr>
        <th>Source orientation</th>
        <td>{{ source_orientation }}</td>
    </tr>
</table>