{%include '_js_and_css.html.jinja' %}
{% from '_macros.html.jinja' import create_general_section %}

<table class="repr table table-hover table-striped table-sm table-responsive small">
{{ create_general_section(info=info) }}
{%include '_channels.html.jinja' %}
{%include '_recording.html.jinja' %}
{%include '_filters.html.jinja' %}
</table>
