<table class="table mne-repr-table">
    <tr>
        <th>Channels</th>
        <td>{{ channels }}</td>
    </tr>
    <tr>
        <th>Source space</th>
        <td>{{ source_space_descr }}</td>
    </tr>
    <tr>
        <th>Source orientation</th>
        <td>{{ source_orientation }}</td>
    </tr>
</table>
