name: autofix.ci

on:  # yamllint disable-line rule:truthy
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]

permissions:
  contents: read

jobs:
  autofix:
    name: Autoupdate changelog entry and headers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: pip install --upgrade towncrier pygithub gitpython numpy
      - run: python ./.github/actions/rename_towncrier/rename_towncrier.py
      - run: python ./tools/dev/ensure_headers.py
      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
