name: 'codespell_and_flake'
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency
# https://docs.github.com/en/developers/webhooks-and-events/events/github-event-types#pullrequestevent
# workflow name, PR number (empty on push), push ref (empty on PR)
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  style:
    name: 'codespell and flake'
    runs-on: ubuntu-20.04
    env:
      CODESPELL_DIRS: 'mne/ doc/ tutorials/ examples/'
      CODESPELL_SKIPS: 'doc/auto_*,*.fif,*.eve,*.gz,*.tgz,*.zip,*.mat,*.stc,*.label,*.w,*.bz2,*.annot,*.sulc,*.log,*.local-copy,*.orig_avg,*.inflated_avg,*.gii,*.pyc,*.doctree,*.pickle,*.inv,*.png,*.edf,*.touch,*.thickness,*.nofix,*.volume,*.defect_borders,*.mgh,lh.*,rh.*,COR-*,FreeSurferColorLUT.txt,*.examples,.xdebug_mris_calc,bad.segments,BadChannels,*.hist,empty_file,*.orig,*.js,*.map,*.ipynb,searchindex.dat,install_mne_c.rst,plot_*.rst,*.rst.txt,c_EULA.rst*,*.html,gdf_encodes.txt,*.svg,*.bib,*.css'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          architecture: 'x64'
      - run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install flake8
        name: 'Install dependencies'
      - uses: rbialon/flake8-annotations@v1
        name: 'Setup flake8 annotations'
      - run: make flake
        name: 'Run flake8'
      - uses: codespell-project/actions-codespell@v1.0
        with:
          path: ${{ env.CODESPELL_DIRS }}
          skip: ${{ env.CODESPELL_SKIPS }}
          builtin: 'clear,rare,informal,names'
          ignore_words_file: 'ignore_words.txt'
          uri_ignore_words_list: 'bu'
        name: 'Run codespell'
