name: 'macos / conda'
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  job:
    name: 'py3.8'
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
    env:
      PYTHON_VERSION: '3.8'
      MNE_LOGGING_LEVEL: 'warning'
      OPENBLAS_NUM_THREADS: '1'
      PYTHONUNBUFFERED: '1'
      CONDA_ENV: 'environment.yml'
      CI_OS_NAME: 'osx'
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: GuillaumeFavelier/ci-skip@enh/separator
        with:
          commit-filter: '[skip ci];[ci skip];[skip github]'
          separator: ';'
      - uses: conda-incubator/setup-miniconda@v2
        if: ${{ env.CI_SKIP == 'false' }}
        with:
          activate-environment: 'mne'
          python-version: ${{ env.PYTHON_VERSION }}
          environment-file: ${{ env.CONDA_ENV }}
        name: 'Setup conda'
      - shell: bash -el {0}
        if: ${{ env.CI_SKIP == 'false' }}
        run: |
          ./tools/github_actions_dependencies.sh
          source tools/get_minimal_commands.sh
        name: 'Install dependencies'
      - shell: bash -el {0}
        if: ${{ env.CI_SKIP == 'false' }}
        run: ./tools/github_actions_install.sh
        name: 'Install MNE'
      - shell: bash -el {0}
        if: ${{ env.CI_SKIP == 'false' }}
        run: ./tools/github_actions_infos.sh
        name: 'Show infos'
      - shell: bash -el {0}
        if: ${{ env.CI_SKIP == 'false' }}
        run: ./tools/github_actions_download.sh
        name: 'Download testing data'
      - shell: bash -el {0}
        if: ${{ env.CI_SKIP == 'false' }}
        run: ./tools/github_actions_locale.sh
        name: 'Print locale'
      - shell: bash -el {0}
        if: ${{ env.CI_SKIP == 'false' }}
        run: ./tools/github_actions_test.sh
        name: 'Run tests'
      - uses: codecov/codecov-action@v1
        if: success() && ${{ env.CI_SKIP == 'false' }}
        name: 'Upload coverage to CodeCov'
