name: 'Tests'
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:  # yamllint disable-line rule:truthy
  push:
    branches: ["main", "maint/*", "pixi"]
  pull_request:
    branches: ["main", "maint/*"]
  # adapted from spyder-ide/spyder
  workflow_dispatch:
    inputs:
      ssh:
        description: 'Enable ssh debugging'
        required: false
        default: false
        type: boolean

permissions:
  contents: read

jobs:
  style:
    name: Style
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - uses: pre-commit/action@v3.0.1
      - run: pip install mypy numpy scipy vulture
      - run: mypy
      - run: vulture

  bandit:
    name: Bandit
    needs: style
    runs-on: ubuntu-latest
    steps:
      - uses: davidslusser/actions_python_bandit@v1.0.1
        with:
          src: "mne"
          options: "-c pyproject.toml -ll -r"
          pip_install_command: "pip install bandit[toml]"

  pytest:
    name: '${{ matrix.os }} / ${{ matrix.kind }} / ${{ matrix.python }}'
    needs: style
    timeout-minutes: 120
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    env:
      PYTHON_VERSION: '${{ matrix.python }}'
      MKL_NUM_THREADS: '1'
      OPENBLAS_NUM_THREADS: '1'
      OMP_NUM_THREADS: '1'
      PYTHONUNBUFFERED: '1'
      MNE_CI_KIND: '${{ matrix.kind }}'
      CI_OS_NAME: '${{ matrix.os }}'
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python: '3.13'
            kind: pip
          - os: ubuntu-latest
            python: '3.14'
            kind: pip-pre
          - os: ubuntu-latest
            python: '3.13'
            kind: conda
          - os: macos-latest  # arm64 (Apple Silicon): Sequoia
            python: '3.13'
            kind: mamba
          - os: macos-15-intel  # intel: Sequoia
            python: '3.13'
            kind: pixi
          - os: windows-latest
            python: '3.11'
            kind: mamba
          - os: ubuntu-latest
            python: '3.12'
            kind: minimal
          - os: ubuntu-22.04
            python: '3.10'
            kind: old
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Get commit message
        run: echo "COMMIT_MESSAGE=$(git show -s --format=%s ${{ github.event.pull_request.head.sha || github.sha }})" | tee -a ${GITHUB_ENV}
      - name: Triage SSH
        run: |
          if [[ "${{ inputs.ssh }}" == "true" ]] || [[ "$COMMIT_MESSAGE" == *"[actions ssh]"* ]]; then
            echo "ENABLE_SSH=true" | tee -a $GITHUB_ENV
          else
            echo "ENABLE_SSH=false" | tee -a $GITHUB_ENV
          fi
      - name: Setup Remote SSH Connection
        if: env.ENABLE_SSH == 'true'
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 80
        with:
          detached: true
      - run: ./tools/github_actions_env_vars.sh
      # Xvfb/OpenGL
      - uses: pyvista/setup-headless-display-action@v4
        with:
          qt: true
          pyvista: false
          wm: false
      # Python (if pip)
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
        if: startswith(matrix.kind, 'pip')
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          activate-environment: false
          run-install: false
          cache: false  # caching depends on existence of a pixi.lock file
        if: matrix.kind == 'pixi'
      # Python (if conda)
      - name: Fixes for conda
        run: |
          # For some reason on Linux we get crashes
          if [[ "$RUNNER_OS" == "Linux" ]]; then
            sed -i "/numba/d" environment.yml
          fi
          # And on Windows and macOS PySide6.9.0 segfaults
          if [[ "$RUNNER_OS" == "macOS" ]]; then
            sed -i "" "s/  - PySide6 .*/  - PySide6 =6.9.2/g" environment.yml
            sed -i "" "s/  - vtk .*/  - vtk =9.5.1/g" environment.yml

          else
            sed -i "s/  - PySide6 .*/  - PySide6 =6.9.2/g" environment.yml
            sed -i "s/  - vtk .*/  - vtk =9.5.1/g" environment.yml
            if [[ "$RUNNER_OS" == "Windows" ]]; then
              echo "MNE_IS_OSMESA=true" | tee -a $GITHUB_ENV
            fi
          fi
        if: matrix.kind == 'conda' || matrix.kind == 'mamba' || matrix.kind == 'pixi'
      - uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: ${{ env.CONDA_ENV }}
          environment-name: mne
          log-level: ${{ runner.debug == '1' && 'debug' || 'info' }}
          create-args: >-
            python=${{ env.PYTHON_VERSION }}
            -v
        if: ${{ !startswith(matrix.kind, 'pip') && matrix.kind != 'pixi' }}
        timeout-minutes: 20
      - name: Create pixi.toml
        if: matrix.kind == 'pixi'
        # environment.yml specifies the same python version as macos-intel CI (3.13)
        # but let's expliclty set the version, in case these ever diverge in the future?
        run: |
          pixi init --import environment.yml
          pixi add "python==${{ matrix.python }}" --no-install
          ls -la pixi.toml
      - name: Setup pixi environment
        if: matrix.kind == 'pixi'
        run: pixi install
      # Now run setup-pixi again in order to activate the enviroment
      - uses: prefix-dev/setup-pixi@v0.9.4
        if: matrix.kind == 'pixi'
        with:
          run-install: false
          activate-environment: true
          cache: false
      - name: Debug Qt availability
        if: matrix.kind == 'pixi'
        run: |
          python -c "import sys; print(sys.executable)"
          python -c "import importlib; print('PySide6', importlib.util.find_spec('PySide6'))"
          pixi list | grep -i side || true
      - run: bash ./tools/github_actions_dependencies.sh
      - run: python ./tools/github_actions_check_old.py
        if: matrix.kind == 'old'
      # Minimal commands on Linux (macOS stalls)
      - run: bash ./tools/get_minimal_commands.sh
        if: startswith(matrix.os, 'ubuntu') && matrix.kind != 'minimal' && matrix.kind != 'old'
      - run: bash ./tools/github_actions_infos.sh
      # Check Qt
      - run: bash ./tools/check_qt_import.sh $MNE_QT_BACKEND
        if: env.MNE_QT_BACKEND != ''
      - name: Run tests with no testing data
        run: MNE_SKIP_TESTING_DATASET_TESTS=true pytest -m "not (ultraslowtest or pgtest)" --tb=short --cov=mne --cov-report xml -vv -rfE mne/
        if: matrix.kind == 'minimal'
      - run: ./tools/get_testing_version.sh
      - uses: actions/cache@v5
        with:
          key: ${{ env.TESTING_VERSION }}
          path: ~/mne_data
      - run: bash ./tools/github_actions_download.sh
      - run: bash ./tools/github_actions_test.sh  # for some reason on macOS we need to run "bash X" in order for a failed test run to show up
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        if: success() || failure()
